@charset "UTF-8";

@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
        transition-duration: 0s !important;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    font-family: 'Segoe UI', Arial, BlinkMacSystemFont, -apple-system, system-ui, sans-serif;
    margin: 0;
}

h1, p {
    text-align: center;
}

h1 {
    margin-bottom: 0;
}

body {
    align-items: center;
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
}

table {
    background-color: #000;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, .25) 0 55px 55px, rgba(0, 0, 0, .1) 0 -12px 30px, rgba(0, 0, 0, .1) 0 4px 6px, rgba(0, 0, 0, .2) 0 12px 12px, rgba(0, 0, 0, .1) 0 -3px 5px;
    display: block;
    font-family: monospace;
    height: 600px;
    width: calc(100vw - 40px);
    overflow: scroll;
    padding: 8px;
}

th {
    text-align: left;
}

table {
    border-collapse: collapse;
}

tbody tr:hover {
    background-color: #444;
}

tbody tr td:first-child {
    color: #aaa;
}

tr {
    border-bottom: 1px solid #333;
}

td {
    padding: 4px 12px 4px 0;
}
